 body{
     background-color: #08FF86; 
     margin: 0px;
 }
 #aparecida{
    
    width: 200px;
    height: 210px;
    left: 40%;
    position: absolute;
}
#ceu{
    height: 170px; 
    width: 100%;    
}
 .barra{
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
 }
.barra ul{
    margin: 0px;
    background-color: #1F14F5;
    list-style: none;

}
.barra ul li{
    display: inline;
    

}
.barra ul li a{
    padding: 7px 100px;
    display: inline-block;
    text-align: justify;
    text-decoration: none;
    color: #FA0900;
    font-size: 17px;

}
.barra ul li a:hover{
    background-color: #079EDE;
    color: #B907DE;
}
.fixo{
    position: fixed;
    top: 0px;
    
}
h2{
    margin: 20px;
}
#imagem2{
    width: 30%;
    height: 20%;
    left: 30%;
    position: relative;
}
.produtos h3, h4{
    background-color: #079EDE;
    padding: 5px 10px;
}
#produtos{
    margin-left: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 70px;
}
#biblia{
    height: 225px;
}
.cronograma tr{
    padding: 20px;
    border: 5px solid blue;
}